<!-- BANNER -->
<div class="mission-couv banner d-flex " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
  <div class="mission-couv d-flex">
    <%= cl_image_tag @booking.mission.picture, width: 375, height: 200, crop: :fill, class: "mission-picture" %>
    <p><%= display_picto_cause(@booking.mission.cause) %></p>
  </div>
</div>

<!-- CARDS -->
  <div class ="container-btn">
    <div class="mission-details">
      <h3><%= @booking.mission.title %></h3>
      <h4>MISSION</h4>
      <p><%= @booking.mission.description %></p>
    </div>
    <div class="association-details">
      <h3><%= @partner.name %></h3>
      <h4>PARTENAIRE</h4>
      <div class="alignement-description-logo">
        <%= cl_image_tag @partner.logo, crop: :thumb, gravity: :face, width: 40, height: 40, class: "avatar-extra-large partner-logo" %>
        <p><%= @partner.description %></p>
      </div>
    </div>
    <div class="mission-infos">
      <h3>Votre supernova <i class="fas fa-question-circle"></i></h3>
        <div class="datetime">
          <%= @booking.mission.supernova.first_name %>
          <%= @booking.mission.supernova.last_name %>
          <%= @booking.mission.supernova.phone_number %>
        </div>
    </div>
    <div class="mission-infos">
      <div class="time">
        <%= image_tag "calendar.png", class: "icon" %>
        <p><%= @booking.mission.datetime %></p>
        <%= image_tag "heure.png", class: "icon" %>
        <p><%= @booking.mission.duration %></p>
      </div>
      <div class="localisation">
        <%= image_tag "adresse-icone-png-7.png", class: "icon" %>
        <p><%= @booking.mission.address %></p>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-info confirm commitment cancel" data-toggle="modal" data-target="#exampleModalLong">
    Je souhaite annuler
  </button>

<!-- MAP -->
<br>
<div
  id="map"
  style="width: 100%;
  height: 250px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close croix" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <!-- </div> -->
      <div class="modal-body">
        Es-tu sûr sûr sûr de vouloir annuler?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary non" data-dismiss="modal">Non</button>
        <%= link_to "Oui", cancel_dashboard_booking_path(@booking), class: "btn btn-info oui", method: :patch %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="croix" aria-hidden="true">&times;</span>
                                                                                                                                                                                                                                                                                                            </button>
                                                                                                                                                                                                                                                                                                          <!-- </div> -->
                                                                                                                                                                                                                                                                                                          <div class="modal-body">
                                                                                                                                                                                                                                                                                                            N’oublies pas de prévenir ton Supernova
                                                                                                                                                                                                                                                                                                            <br>
                                                                                                                                                                                                                                                                                                            <%=                                                                                        %>
                                                                                                                                                                                                                                                                                                          </div>
                                                                                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                    </div>
