<div class="container flex-container">
 

  <div class="col-12 col-lg-6">
    <h2>Inscription</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">

        <div class="user-details">
          
          <%= f.input :first_name,
                      placeholder: "Prénom",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>


          <%= f.input :last_name,
                      placeholder: "Nom",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%>


          <%= f.input :phone_number,
                      placeholder: "Téléphone",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "phone_number" }%>
        </div>

        <div class="user-identifiant">
          
        <%= f.input :email,
                    placeholder: "Email",
                    label: false,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Adresse email" }%>


        <%= f.input :password,
                    placeholder: "Mot de passe",

                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>


        <%= f.input :password_confirmation,
                    placeholder: "Confirmation du mot de passe",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>

        </div>


      </div>

      <div class="form-actions btn btn-info confirm extra-large">
        <%= f.button :submit, "Confirmer " %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
     
  </div>

</div>
