<div class="container flex-container">
 

  <div class="col-12 col-lg-6">
    <h2>Inscription</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="user-details">
          <p><%= f.input :first_name,
                      placeholder: "Prénom",
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%></p>

          <p><%= f.input :last_name,
                      placeholder: "Nom",
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "last_name" }%></p>

          <p><%= f.input :phone_number,
                      placeholder: "Téléphone",
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "phone_number" }%></p>
        </div>

        <div class="user-identifiant">

          <p><%= f.input :email,
                    placeholder: "Email",
                    label: false,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "Adresse email" }%> </p>


        <p><%= f.input :password,
                    placeholder: "Mot de passe",
                    label: false,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %></p>

        <p><%= f.input :password_confirmation,
                    placeholder: "Confirmation du mot de passe",
                    label: false,
                    required: true,
                    input_html: { autocomplete: "new-password" } %></p>

        </div>


      </div>

      <div class="btn btn-info confirm commitment">
        <%= f.button :submit, "Valider " %>
      </div>
    <% end %>
     <%= render "devise/shared/links"%>
  </div>
</div>
