<div class ="container-fluid">
   <h3>Mes missions</h3>
   <p>Retrouvez le récapitulatif des missions auxquelles vous vous êtes engagées.</p>
<!--     <div class="profil">
      <%= cl_image_tag current_user.avatar, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar" %>
      <p>
        <%= current_user.last_name %>
        <%= current_user.first_name %>
      </p>
    </div> -->
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="croix" aria-hidden="true">&times;</span>
        </button>
      <!-- </div> -->
      <div class="modal-body">
        <strong>Super, merci pour ta participation !</strong>
        <hr>
        Tu vas recevoir un email avec les coordonnées de ton Supernova (ton interlocuteur privilégié).</div>
    </div>
  </div>
</div>

<div class="cards-container">
  <% if @bookings.any? %>
  <div class="cards">
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to dashboard_booking_path(booking) do %>
            <div class="card-mission">
              <div class="card-picture" style="background-image: url(<%= cl_image_path(booking.mission.picture, height: 200, crop: :fill) %>);">
                <%= display_picto_cause(booking.mission.cause) %>
                <div class="card-count-places">
                  <h2><%= booking.mission.maxcapacity %></h2>
                  <h3>places restantes</h3>
                </div>
              </div>
              <div class="card-misson-infos">
                <div>
                  <h4><%= display_date(booking.mission.datetime, booking.mission.duration) %></h4>
                  <h2><%= booking.mission.title.capitalize %></h2>
                  <p><%= booking.mission.description.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <p>Pas de missions 😳</p>
  <% end %>
</div>

