<!-- FORM DROPDOWN -->

<!-- Button trigger modal -->
<div class="search-container">
  <button type="button" class="btn recherche" data-toggle="modal" data-target="#exampleModal">
    Affiner ma recherche
  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content-filters modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ma-recherche">Ma recherche</h5>
        <button type="button" class="close-filters" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'shared/form_filters' %>
      </div>
    </div>
  </div>
</div>


<!-- MAP -->

<div
  id="map"
  style="width: 100%;
  height: 250px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- SELECTION FILTRES -->


<div class="cards-container">

  <% if @missions.any? %>
    <% @missions.each_with_index do |mission, index| %>
      <div class="card-slide-container" data-card-index="<%= index %>" data-mission-id="<%= mission.id %>">
        <%= link_to mission_path(mission), class: "lien" do %>
          <% if mission.remaining_places > 0 %>
            <div class="card-mission">
              <div class="card-picture" style="background-image: url(<%= cl_image_path(mission.picture, height: 200, crop: :fill) %>);">
                <%= display_picto_cause(mission.cause) %>
                <div class="card-count-places">
                  <h2><%= mission.remaining_places %></h2>
                  <h3><%= label_for_remaining_places(mission.remaining_places) %></h3>
                </div>
              </div>
              <div class="card-misson-infos">
                <div>
                  <h4><%= display_date(mission.datetime, mission.duration) %></h4>
                  <h2><%= mission.title.capitalize %></h2>
                  <p><%= mission.description.capitalize %></p>
                </div>
              </div>
            </div>
          <% else %>
            <div class="card-mission">
              <div class="card-mission-full">
                <h2>Cette mission est complète !</h2>
              </div>
              <div class="card-picture" style="background-image: url(<%= cl_image_path(mission.picture, height: 200, crop: :fill) %>);">
                <%= display_picto_cause(mission.cause) %>
              <!--   <div class="card-full-places">

                </div> -->
              </div>
              <div class="card-misson-infos">
                <div>
                  <h4><%= display_date(mission.datetime, mission.duration) %></h4>
                  <h2><%= mission.title.capitalize %></h2>
                  <p><%= mission.description.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="no-mission">
      <h5>Oups... </h5>
      <h6>Nous n'avons pas trouvé de mission correspondant à vos critères.</h6>
      <p>😳</p>
    </div>
  <% end %>
</div>


