<!-- FORM DROPDOWN -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Recherche
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content-filters">
      <div class="modal-header">
        <h5 class="modal-title" id="ma-recherche">Ma recherche</h5>
        <button type="button" class="close-filters" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= render 'shared/form_filters' %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="filter-container text-center">
  <div class="resume-filters">
    <% if params[:starting_date].present? || params[:ending_date].present? %>
      <p><%= DateTime.parse(params[:starting_date]).strftime("%d-%m-%Y") %> --> <%= DateTime.parse(params[:ending_date]).strftime("%d-%m-%Y") %></p>
    <% end %>
    <% if params[:duration].present? %>
      <p><%= params[:duration] %> h</p>
    <% end %>
  </div>
</div> -->




<!-- MAP -->

<div
  id="map"
  style="width: 100%;
  height: 250px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


<!-- SELECTION FILTRES -->


<div class="cards-container">
  <% if @missions.any? %>
  <div class="cards">
    <div class="row">
      <% @missions.each do |mission| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <%= link_to mission_path(mission) do %>
            <div class="card-mission">
              <div class="card-picture" style="background-image: url(<%= cl_image_path(mission.picture, height: 200, crop: :fill) %>);">
                <%= display_picto_cause(mission.cause) %>
                <div class="card-count-places">
                  <h2><%= mission.maxcapacity %></h2>
                  <h3>places restantes</h3>
                </div>
              </div>
              <div class="card-misson-infos">
                <div>
                  <h4><%= display_date(mission.datetime, mission.duration) %></h4>
                  <h2><%= mission.title.capitalize %></h2>
                  <p><%= mission.description.capitalize %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
    <p>Pas de missions 😳</p>
  <% end %>
</div>



