
<!-- CARDS -->
<div class ="container flex-container">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6 col-lg-6">
			<div class="mission-couv  " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
				<div class="mission-banner" style="background-image: url(<%= cl_image_path(@mission.picture, width: 377, height: 200, crop: :fill) %>);">
		            <%= display_picto_cause(@mission.cause) %>
		            <div class="card-count-places">
		              <h3>Places restantes</h3>
		              <p><%= @mission.remaining_places %></p>
		            </div>
				</div>
			</div>
			<div class="mission-details">
				<h3><%= @mission.title %></h3>
				<h4><%= @mission.cause.upcase %></h4>
				<p><%=  @mission.description %></p>
			</div>
			<div class="association-details">
				<h3><%= @partner.name %></h3>
				<h4>PARTENAIRE</h4>
				<div class="alignement-description-logo">
					<%= cl_image_tag @partner.logo, crop: :thumb, gravity: :face, width: 40, height: 40, class: "avatar-extra-large partner-logo" %>
					<p><%= @partner.description %></p>
				</div>
			</div>
			<div class="mission-infos">
				<div class="datetime">
					<i class="far fa-calendar-alt"></i>
					<p><%= @mission.datetime.strftime("%d.%m.%Y") %></p>

				</div>
				<div class="duration">
					<i class="fas fa-history"></i>
					<p><%= @mission.duration %>  Heures</p>
				</div>
				<div class="address">
					<i class="fas fa-map-marker-alt"></i>
					<p><%= @mission.address %></p>
				</div>
			</div>
			<div class="">
				<button type="button" class="btn btn-info confirm commitment" data-toggle="modal" data-target="#exampleModalLong">
				  Je m'engage
				</button>
			</div>
			</br>
			</br>
		</div>
		<div class="col-12 col-sm-6 col-md-6 col-lg-6">
			<div class="show-map" style="height: 100%">
				<div
				  id="map"
				  style="width: 100%;
				  height: 100%;
				  min-height: 250px;"
				  data-markers="<%= @markers.to_json %>"
				  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MAP -->
<br>

<!-- Modal -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close croix" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <!-- </div> -->
      <div class="modal-body">
        Etes-vous sûr de vouloir participer à cette action ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary non" data-dismiss="modal">Non</button>
        <%= link_to "Oui bien sûr", mission_bookings_path(@mission), class: "btn btn-info oui", method: :post %>
      </div>
    </div>
  </div>
</div>
